  .count-down-container {
      text-align: center;
      color: #FFDF5C;
      font-family: 'Open Sans';
      font-style: normal;

      h1 {
          font-weight: 800;
          white-space: nowrap
      }

      span {
          font-size: 2em;
          margin: 0 3px 0 15px;
          font-weight: 400;
      }
  }