<div class="input-box-container">
    <mat-form-field appearance="outline" class="input-box">
        <mat-label>{{wording.customEvent.inputName}}</mat-label>
        <input matInput placeholder={{wording.customEvent.placeholder}} [(ngModel)]="title"
            (ngModelChange)="onTitleChange(title)">
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-box">
        <mat-label>{{wording.eventDate.inputName}}</mat-label>
        <input matInput [matDatepicker]="picker" placeholder={{wording.eventDate.inputPlaceholder}} [(ngModel)]="date"
            (ngModelChange)="onDateChange(date)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>