.input-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;

    .input-box {
        width: 300px;
        height: 67px;
        margin: 0, 15px;
    }
}