.input-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;

    .input-box {
        width: 300px;
        height: 67px;
        margin: 0, 15px;
    }
}

.input-box-container,
.input-box-title,
.mat-datepicker-toggle,
.mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
    color: white;
}
